<li data-row="<%= index+1 %>" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="<%= activity %> <%=metric%>" data-view="Number" data-title="<%= activity %> <%=metric%>" data-moreinfo="Current Week vs Previous" data-prefix=""></div>
</li>