<%= bootstrap_form_for(@activities_metric) do |f| %>
  <% if @activities_metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activities_metric.errors.count, "error") %> prohibited this activities_metric from being saved:</h2>

      <ul>
      <% @activities_metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :activity %>
  <%= f.number_field :week %>
  <%= f.number_field :leads %>
  <%= f.number_field :relevant_leads %>
  <%= f.number_field :conversion %>
  <%= f.number_field :time_spent %>
  <%= f.number_field :max_time_client %>
  <%= f.number_field :target %>
  <%= f.submit %>
<% end %>
